<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bfzy.platform.account.mapper.UserAuthMapper">

    <!-- 基础字段集合 -->
    <sql id="BaseColumns">
        id, user_id, identity_type, identifier, credential,
        create_time, update_time, deleted
    </sql>

</mapper>
